div.custom-menu-class ul {
    margin:12px 0px 16px 14px;
    list-style-type: none;
    list-style: none;
    list-style-image: none;
    text-align:right;
}
div.custom-menu-footer-class ul {
    margin:12px 0px 16px 14px;
    list-style-type: none;
    list-style: none;
    list-style-image: none;
    text-align:left;
}
div.custom-menu-class li {
    padding: 0px 20px 0px 0px;
    display: inline;
} 
div.custom-menu-class a { 
    color:#000000;
}

 .image-aboutus-banner {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("https://images.pexels.com/photos/673649/pexels-photo-673649.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top: 110px;
    padding-bottom:110px;
 }


  .image-aboutus-sm-banner {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("https://images.pexels.com/photos/631008/pexels-photo-631008.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top: 30px;
    padding-bottom:30px;
 }

 .paddingTB60 {
    padding-top:60px;
    padding-bottom:60px;
}


.image-aboutus-para {
    color:#fff;
}



/* Breadcum bar */
.bread-bar {
    background: #f9f9f9;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    min-height: 40px;
    height: auto;
    position: relative;
    z-index: 555;
}
.breadcrumb {
    background: none;
    margin: 0;
    font-weight: 300;
    padding-left: 0;
    font-size: 13px;
}
.breadcrumb a {
    color: #999;
}
.breadcrumb > .active {
    color: #666;
}
.breadcrumb > li + li::before {
    content: "\203A";
    color: #999;
    padding: 0 8px;
}

.customize-support .top {
  top: 32px;
}
.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

 .lnr {
    display: inline-block;
    fill: currentColor;
    width: 1em;
    height: 1em;
    vertical-align: -0.05em;
    stroke-width: 1;
  }
  
  .services-icon {
    margin-bottom: 20px;
    font-size: 30px;
  }

  .blog-img{
    padding: 30px;
  }


  .blog-img img{
    width:610px;
    height: auto;
  }


  .menu li{
    list-style-type: none ;
    padding: 0 ;
    margin: 0 ;
  }


.carousel-caption {
  margin-bottom: 200px;
}

 
.card my-3{
  margin-top: -4rem;
}

custom-menu-class{
  padding-left: 23px;
}

@font-face { 
font-family: Lemonada-Light; 
src: url(/fonts/Lemonada-Bold.ttf); 	
font-weight: normal; 
}

.display-4 { 
font-family: "Lemonada-Bold", Arial, sans-serif; 
}